/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.enhanced-link-suggestion-container {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.enhanced-link-suggestion-text {
	font-weight: 500;
}

.enhanced-link-suggestion-content {
	color: var(--text-muted);
	font-size: 0.9em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 400px;
}

.enhanced-link-suggestion-content .highlight {
	color: var(--text-normal);
	font-weight: 600;
}
